<table mat-table [dataSource]="allMachines" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="machine_type">
      <th mat-header-cell *matHeaderCellDef> Machine Type </th>
      <td mat-cell *matCellDef="let element"> {{element.machine_type}} </td>
    </ng-container>
  
    <ng-container matColumnDef="status" >
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"  > 
        <ng-template [ngIf]="element.status=='running'"><div  style="color:blue;">{{element.status}}</div></ng-template>
        <ng-template [ngIf]="element.status=='idle'"><div  style="color:yellow;">{{element.status}}</div></ng-template>
        <ng-template [ngIf]="element.status=='finished'"><div  style="color:green;">{{element.status}}</div></ng-template>
        <ng-template [ngIf]="element.status=='errored'"><div  style="color:red;">{{element.status}}</div></ng-template> 
        <ng-template [ngIf]="element.status=='repaired'"><div  style="color:pink;">{{element.status}}</div></ng-template> 
    </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
    </ng-container>

    <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
    </ng-container>

    <ng-container matColumnDef="last_maintenance">
        <th mat-header-cell *matHeaderCellDef> Last Maintenance </th>
        <td mat-cell *matCellDef="let element"> {{element.last_maintenance}} </td>
    </ng-container>

    <ng-container matColumnDef="install_date">
        <th mat-header-cell *matHeaderCellDef> Install Date </th>
        <td mat-cell *matCellDef="let element"> {{element.install_date}} </td>
    </ng-container>

    <ng-container matColumnDef="floor">
        <th mat-header-cell *matHeaderCellDef> Floor </th>
        <td mat-cell *matCellDef="let element"> {{element.floor}} </td>
    </ng-container>

    <ng-container matColumnDef="events">
        <th mat-header-cell *matHeaderCellDef> Events </th>
        <td mat-cell *matCellDef="let element">
            <button 
               mat-raised-button color="primary"
               (click)="showEvents(element.id)"
               >Show Events</button> 
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

<div #tableModal class="modal">
    <!-- Init Modal content -->
    <div class="modal-content">
      <span #modalCloseBtn class="close" (click)="closeModal()">&times;</span>
      <table>
          <tr>
              <th>TimeStamp</th>
              <th>Status</th>
          </tr>
          <tr *ngFor = "let event of selectedEvents">
              <td class="modaltd">{{event.timestamp}}</td>
              <td class="modaltd">{{event.status}}</td>

          </tr>
      </table>
    </div>
</div>
